# Frontend (Vite — variables exposées au client, prefixe VITE_)
VITE_IGN_WMTS_URL=https://data.geopf.fr/wmts
VITE_IGN_WMS_URL=https://data.geopf.fr/wms-r/wms
VITE_INPN_WMS_URL=https://ws.carmencarto.fr/WMS/119/fxx_inpn
VITE_GPU_WMS_URL=https://data.geopf.fr/wms-v/ows
VITE_GEORISQUES_WMS_URL=https://georisques.gouv.fr/services
VITE_API_URL=http://localhost:8000

# Backend
BACKEND_DATA_DIR=./data/processed
BACKEND_REPORTS_DIR=./data/reports
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
